// ==UserScript==
// @name         ${name}
// @namespace    ${url}
// @version      ${version}
// @description  ${description}
// @author       ${email}
// @match        https://www.teambition.com/project/*/tasks/scrum/*
// @grant        none
// ==/UserScript==
// 为了便于维护和提升运行效率，执行脚本进行了合并和压缩，完整源代码在GitHub上
